
body{
    background-color: rgb(246,247,251);
    font-family: "Mulish";
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 100px;

}
.buttons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
button{
    border: 0;
    background-color: #3498db;
    padding: 10px;
    width: 90px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}
.prog-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.steps{
    background-color: white;
    float: left;

    border: 3px solid #e0e0e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;

}
.steps.active{
    border: 3px solid #3498db;
}
.bar,.bar-active{
    position: absolute;
    top: 18px;
    left: 0;
    height: 5px;
    transform: translateY(-50%);
    
}
.bar{
    background-color: #e0e0e0;
    width: 100%;
    z-index: -2;
}
.bar-active{
    background-color: #3498db;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
button:disabled{
    background-color: #ccc;
    cursor: auto;
}