@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 780px;
}

header {
  font-family: "roboto", sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  gap: 20px;
  height: 51px;
  margin: 0;
}

.nav-bar li {
  cursor: pointer;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-bar li:hover {
  bottom: 5px;
  left: 5px;
  color: rgb(138, 58, 225);
}

.profile {
  margin-left: auto;
  background-color: rgb(138, 58, 225);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  min-width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-inner {
  font-size: 30px;
  background-color: rgb(138, 58, 225);
  padding-bottom: 5px;
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;
  position: relative;
  font-family: "Geologica", sans-serif;
}

.logo-inner::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid rgb(138, 58, 225);
}

main {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.left-side {
  width: 80%;
}

.right-side {
  width: 20%;
  background-color: lavender;
  padding: 0 20px;
}

.right-side ul {
  padding: 0;
  list-style-type: none;
}

.author {
  background-color: lavender;
  padding: 5px 5px;
  width: 300px;
}
