@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 16px;
  border: 0;
  color: rgb(102, 102, 102);
  background-color: rgb(225, 225, 225);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 98;
}

button span {
  z-index: 100;
  position: relative;
  transition: 0.3s;
}

button:hover span {
  color: white;
}

.rad-out::before {
  content: "";
  height: 10px;
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
  border-radius: 50%;
}

.rad-out:hover::before {
  width: 150%;
  height: 150%;
}

.rad-in::before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(225, 225, 225);
  transition: 0.3s;
  z-index: 99;
  border-radius: 50%;
}

.rad-in:hover::before {
  width: 0%;
  height: 0%;
}

.rad-in {
  background-color: rgb(98, 98, 197);
}

.rec-out::before {
  content: "";
  height: 10px;
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.rec-out:hover::before {
  width: 150%;
  height: 150%;
}

.rec-in::before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(225, 225, 225);
  transition: 0.3s;
  z-index: 99;
}

.rec-in:hover::before {
  width: 0%;
  height: 0%;
}

.rec-in {
  background-color: rgb(98, 98, 197);
}

.shut-in-ver::before {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-in-ver::after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-in-ver:hover::after {
  bottom: 0;
}

.shut-in-ver:hover::before {
  top: 0;
}

.shut-in-hor::before {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-in-hor::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  right: -100%;
  top: 0;
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-in-hor:hover::after {
  right: 0;
}

.shut-in-hor:hover::before {
  left: 0;
}

.shut-out-hor::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-out-hor:hover::before {
  width: 100%;
}

.shut-out-ver::before {
  content: "";
  height: 0%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(98, 98, 197);
  transition: 0.3s;
  z-index: 99;
}

.shut-out-ver:hover::before {
  height: 100%;
}
